.git
.github

node_modules
coverage
.nyc_output

docs
tests
terraform
scripts

.env
.env.*
!.env.example

*.log
npm-debug.log*

.vscode
.idea
.DS_Store
Thumbs.db

*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
